head{
    height: 100%;
}
body{
    background-image: url("https://images.unsplash.com/photo-1627627256672-027a4613d028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    background-attachment: fixed;
}
h1{
    color:rgb(255, 106, 0);
    text-align: center;
    font: ubuntu;
}
h3{
   color: rgb(188, 148, 28); 
    
}
#scoreH, #scoreA{
    background-color: rgb(214, 214, 214);
    font-family: 'Digital Numbers';
    font: 2em ubuntu;
}
.ch1{
   
    display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem 1rem;
  vertical-align: middle;
}
button{
    border-radius: 10%;
    font-size: larger;
    
}